/* GLOBAL STYLES */
body {
  background-color: #f8f9fa;
  margin: 0 auto;
  font-size: 20px;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; 
}

a {
  color: #545454; 
}
  a:hover {
    color: #202020; 
  }

/* MAIN HEADER AND NAVBAR */
.main-header {
  text-align: center;
  display: block;
}

/* INDEX - FEATURED BREEDS */
.featured {
  margin: 3rem auto;
  text-align: center;
  padding: 2rem 0;
  font-weight: 600; 
}

.featured-heading,
.featured-item,
.featured-item img {
  padding-bottom: 2rem; 
}

/* INDEX - SITE SPECIFICATIONS */
.site-specs {
  padding: 2rem 4rem; 
}

.specs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem; 
}
  .specs-wrapper img {
    padding-right: 2rem;
    width: 225px; 
  }

.flex2 {
  flex-direction: row-reverse; 
}
  .flex2 img {
    padding-left: 2rem; 
  }

/* INDEX - CONTACT AND HOURS */
.contact-hours {
  background: url(../assets/contact-bg.png) no-repeat;
  background-size: 100%; 
  padding: 2rem;
  margin-bottom: 5rem; 
}

.contact-wrapper {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color:rgba(255, 255, 255, .75);
}

.contact-description {
  flex: 2;
  padding-left: 5rem; 
}

.op-hours {
  flex: 1;
  text-align: center;
  padding-right: 2rem; 
}

/* ABOUT - ABOUT AND MISSION */
.about {
  text-align: center;
  padding: 2rem;
  background: url(../assets/about-bg.png) no-repeat;
  background-position: 50% 25%;
}

.about-wrapper {
  background-color: rgba(255, 255, 255, .75);
}

.about-heading, 
.about-text {
  padding: 1rem;
}

/* CARE - HEADING */
.care-heading {
  text-align: center;
}

/* ACCORDION */
.accordion {
  margin: 2rem; 
  text-align: center;
}

.accordion-item {
  text-align: left;
}

.accordion-heading,
.accordion img,
.accordion-text {
  padding-bottom: 2rem; 
}

/* HEALTH AND TEMPERMENT */
.intro {
  text-align: center;
  padding: 1rem;
  background-position: 50% 50%;
}

.health-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.health {
  margin: 1rem;
  padding: 2rem;
  width: 45%;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .50);
}
  .health img {
    width: 100%;
    padding-bottom: 1rem;
  }

.breed-heading {
  padding-bottom: 1rem;
  text-align: center;
}

.health-heading {
  padding-bottom: 1rem;
}

/* CONTACT */
form {
  background: url(../assets/contact-form-bg.png) no-repeat;
  padding: 1rem;
}
  form div {
    padding: .5rem;
  }

.contact-form-hd {
  text-align: center;
}

.form-wrapper {
  margin: 5rem auto;
  padding: .5rem;
  overflow: hidden;
  width: 50%;
  background-color:rgba(255, 255, 255, .75);
}

form div input, 
form div textarea {
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 5px;
}

form div textarea {
  column-gap: 100px;
}

.col-12 {
  text-align: center;
}

.button {
  padding: 0 1rem;
  border: 1px solid transparent;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, .50);
  margin: 0 auto;
}

/* MODAL */
.modal-image {
  width: 100%;
  height: 300px; 
}

/* MAIN FOOTER */
.main-footer {
  background-color: #F0F1F5;
  text-align: center;
  margin: 1rem auto 0;
  padding: 1rem 0;
  position: relative; 
}
  .main-footer a {
    text-decoration: none;
  }

.footer-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0; 
}

.social {
  display: flex;
  align-items: center;
  box-sizing: border-box; 
}
  .social img {
    width: 35px;
    padding-right: 1rem; 
  }